h1 {
    font-size: 50px;
    color: #000;
    text-align: center;

}

.counter {
    display: block;
    text-align: center;
    font-size: 50px;
}

.btn {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

button {
    padding: 10px 20px;
    font-size: 30px;
    background-color: palevioletred;
    color: aliceblue;
    border: 1px #000 solid;
}